/* ELEMENT SELECTORS */
body {
  background-color: #393E46;
}

h1 {
  color: #4ECCA3;
  font-family: Lobster, cursive;
  font-size: 7rem;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-shadow: 5px 0 #232931;
}

img {
  width: 80%;
}



/* CLASS SELECTORS */
.container {
  margin: auto;
  text-align: center;
  width: 70%;
}

.dice {
  display: inline-block;
  text-align: center;
}

.player {
  color: #eac72a;
  font-family: Indie Flower;
  font-size: 2rem;
  text-align: center;
}

.btn {
  font-family: Lobster;
  font-size: 1.5rem;
  margin-top: 3%;
  text-align: center;
}

.button {
  text-align: center;
}

.footer {
  color: #EEEEEE;
  font-family: Indie Flower;
  margin-top: 6.5%;
  text-align: center;
}
